{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>DBA Django Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen"/>
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-2.3.2.min.js"></script>
    <style type="text/css">
    	.navbar{
    		border-radius: 0px;
    	}
    </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">DBA Django Site</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="col-sm-6 col-md-3">
    <a class="thumbnail" href="/jobmonitor">
      <img src={% static "/static/images/jobmonitor.png" %} alt="...">
    </a>
    <div class="caption">
      <h3>Job Monitor</h3>
      <p>提供Sqlserver Job 监控</p>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
      <a class="thumbnail" href="/serversalter">
        <img src="/static/images/serversalter.png" alt="...">
      </a>
      <div class="caption">
        <h3>Server Salter</h3>
        <p>用来测试Telnet的功能</p>
      </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <a class="thumbnail" href="/servertopo">
      <img src="/static/images/servertopo.png" alt="...">
    </a>
    <div class="caption">
      <h3>Server Topo</h3>
      <p>服务器拓扑图</p>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <a class="thumbnail" href="/toolers">
      <img src="/static/images/toolers.png" alt="...">
    </a>
    <div class="caption">
      <h3>Toolers</h3>
      <p>备份还原工具</p>
    </div>
  </div>
</div>
</body>
</html>